* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h2 {
  margin-top: 18px;
}
.line {
  border-bottom: solid 2px red;
  margin: 16px auto;
  width: 170px;
}
#section1 #ImgSet {
  position: relative;
  width: 660px;
  height: 824px;
  margin: 0 auto;
}
#section1 #ImgSet #picSet {
  width: 660px;
  height: 824px;
  position: relative;
  overflow: hidden;
  /* margin-top: 20px; */
}
#section1 #ImgSet #picSet img {
  position: absolute;
  top: 0;
  transition: left 1s;
}
#section1 #ImgSet #picSet dl {
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 20px;
}
#section1 #ImgSet #picSet dt {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
#section1 #ImgSet #picSet dl.active {
  animation: textMotionIn forwards 1s;
}

#picSet dl.activeOut {
  animation: textMotionOut forwards 1s;
}

@keyframes textMotionIn {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes textMotionOut {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: 50px;
    opacity: 0;
  }
}

#section1 #ImgSet button {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 80px;
  height: 80px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #999;
}
#section1 #ImgSet button:hover {
  background-color: red;
}
#section1 #ImgSet #prev_btn {
  left: -120px;
}
#section1 #ImgSet #next_btn {
  right: -120px;
}

#section1 #dotList {
  margin-top: 15px;
}
#section1 #dotList li {
  background-color: #000;
  color: #fff;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}
#section1 #ImgSet #dotList li:hover {
  background-color: #000;
}

#section1 #ImgSet #dotList li.active {
  background-color: red;
  color: white;
}
#section1 #ImgSet #dotList li.active {
  background-color: red;
  color: white;
}
